/* Global */
:root {
  /* color */
  --color--white: #fff;
  --color--light-grey: #f0f0f0;
  --color--light-dark-grey: #cfcfcf;
  --color--grey: #a7a7a7;
  --color--dark-grey: #8d9597;
  --color--black-grey: #4f5253;
  --color--red: #ee3443;
  --color--light-red: #f0616d;
  --color--orange: #f57d09;
  --color--light-blue: #acd2dd;
  --color--blue: #279dc4;
  --color--dark-blue: #1f5f9b;
}
/* font */

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Universal tags */
body {
  background-color: var(--color--grey);
  margin: 0;
}

li {
  list-style: none;
}

.background__pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.33;
  background: linear-gradient(var(--color--white) 3%, transparent 3%),
    linear-gradient(to right, var(--color--white) 3%, var(--color--grey) 3%);
  background-size: 13px 13px;
}

/* book */

#book {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bookcover {
  position: absolute;
  display: flex;
  width: 900px;
  height: 600px;
  border: solid 1px;
  border-color: var(--color--dark-grey);
  border-radius: 8px;
  background-color: var(--color--light-blue);
  justify-content: center;
  align-items: center;
}

.bookdot {
  position: absolute;
  display: flex;
  width: 870px;
  height: 570px;
  border: dashed 0.1em;
  border-color: var(--color--white);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.page {
  position: absolute;
  display: flex;
  width: 850px;
  height: 550px;
  background-color: var(--color--light-grey);
  border: solid 1px;
  border-color: var(--color--grey);
  border-radius: 8px;
}

/* container */

.profile__container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  align-items: center;
}

.minihompi__container {
  display: flex;
  flex-direction: column;
  flex: 0.9;
}

.menu__area {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  border: solid 1px;
}

/* profile */

/* profile - today */
.count__today_total {
  display: flex;
  flex: 0.08;
  font-size: 10px;
  align-items: center;
}

.today_total {
  padding-top: 10px;
}

.today__count {
  padding-left: 2px;
  color: var(--color--red);
}

.total__count {
  padding-left: 2px;
}

.profile__item__container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0.9;
  width: 200px;
  background: #fff;
  border: solid 1px;
  border-color: var(--color--light-dark-grey);
  border-radius: 8px;
}

/* profile - photo, text, info */
.profile_photo {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.profile_photo .photo {
  display: flex;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.profile_text {
  display: flex;
  flex: 0.4;
  justify-content: center;
  font-size: 13px;
  padding: 10px;
  font-family: "GowunDodum-Regular";
}

.profile_info {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  font-size: 13px;
  text-align: left;
  padding: 15px;
}

.user_info {
  border-top: solid 1px var(--color--light-dark-grey);
}

.user_name,
.user_email {
  margin: 0px;
}

.user_name {
  padding-top: 5px;
  color: var(--color--dark-blue);
  font-weight: 700;
}

.user_sex {
  color: var(--color--black-grey);
  padding-left: 5px;
}

.user_email {
  color: var(--color--orange);
}

/* minihomepi */

.minihompi_title__container {
  display: flex;
  flex-direction: row;
  flex: 0.08;
  font-size: 14px;
  align-items: center;
}

.updated_news_count__container {
  display: flex;
  flex: 0.4;
}

.miniroom__area {
  display: flex;
  flex: 1px;
}

/* minihomepi-title */

.minihompi__title {
  display: flex;
  flex: 0.9;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
}

.minihompi__url {
  display: flex;
  flex: 0.3;
  justify-content: center;
  font-size: 10px;
  padding-top: 10px;
  color: var(--color--black-grey);
}

.minihompi_board__container {
  display: flex;
  flex: 0.9;
  flex-direction: column;
  background: #fff;
  border: solid 1px;
  border-color: var(--color--light-dark-grey);
  border-radius: 8px;
}

/* minihomepi - Updated news */

.updated_news__area {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 0px 10px 15px;
}

.board_count__area {
  display: flex;
  flex: 1;
}

.updated_news__title {
  display: flex;
  flex: 0.1;
  font-size: 15px;
  border-bottom: solid 1px;
  border-color: var(--color--light-dark-grey);
  color: var(--color--blue);
  font-weight: 700;
}

.board_title__box {
  display: flex;
  flex: 1;
}

.board_name {
  display: flex;
  justify-content: center;
  flex: 0.2;
  font-size: 13px;
}

.board_name__list {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.board_name__list li {
  margin-bottom: 3px;
  color: var(--color--white);
}

.color_red {
  background-color: var(--color--light-red);
  border: solid 1px;
  border-color: var(--color--light-red);
  border-radius: 2px;
}

.color_blue {
  background-color: var(--color--blue);
  border: solid 1px;
  border-color: var(--color--blue);
  border-radius: 2px;
}

.board_title {
  display: flex;
  flex: 1;
  font-size: 13px;
}

.board_title__list {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.board_title__list li {
  margin-bottom: 5px;
}

.board_count__table {
  margin: 30px 0px 10px 0px;
  width: 95%;
  height: 25%;
  border-collapse: collapse;
  text-align: start;
  font-size: 13px;
}

.board_count__table tr {
  border: dashed 0.1em var(--color--light-dark-grey);
  border-left: 0;
  border-right: 0;
}

.board_count__table td {
  padding: 5px;
}

.board_count {
  color: var(--color--dark-blue);
  font-weight: 700;
}

/* minihomepi - miniroom */

.miniroom__area {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.miniroom__title {
  display: flex;
  font-size: 15px;
  border-bottom: solid 1px;
  border-color: var(--color--light-dark-grey);
  color: var(--color--blue);
  font-weight: 700;
}

.miniroom {
  display: flex;
}
