div {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background: red;
}

.container {
  background: pink;
  left: 20px;
  top: 20px;
  position: relative;
}

.box {
  background: blue;
  left: 20px;
  top: 20px;
  position: sticky;
  /* 
  position: static; 기본 값 
  position: relative; 원래 있어야 할 아이템 자리에서 옮긴 것
  position: absolute; 담겨있는 상자 안에서 움직인 것
  position: fixed; 상자에서 벗어나 페이지 상에서 옮긴 것
  position: sticky; 원래 자리에 있는데 스크롤해도 변하지 않음
  */
}
  /* 출처: Youtube 드림코딩 by 엘리 */
