body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  padding-left: 16px;
  background-color: #e4efe9;
}

.navbar_logo {
  font-family: "Redressed", cursive;
  font-size: 25px;
}

.navbar_logo a {
  color: #035321;
}

.navbar_logo i {
  color: #035321;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-family: "Source Sans Pro";
}

.navbar_menu li {
  padding: 8px 15px;
}

.navbar_menu li:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, #b9cfbb 0%);
  /*background-color: #b9cfbb;*/
  /*border-radius: 4px;*/
}

.navbar_icons {
  display: flex;
  list-style: none;
  font-size: 18px;
  padding-left: 0px;
}

.navbar_icons li {
  padding: 8px 15px;
}

.navbar_icons i {
  color: #035321;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  top: 11px;
  left: 30px;
  font-size: 18px;
  color: #035321;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    widows: 100px;
  }

  .navbar_icons {
    flex-direction: row;
    position: absolute;
    top: 3px;
    right: 10px;
    margin: 0px;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active {
    display: block;
  }
}
