 /*
selector{
  property: value;
}
*/

* {
  color: green;
}

li {
  color: blue;
}

li#special {
  color:pink;
}

.red {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 2px dashed red;
  margin: 20px;
  background: yellow;
}

button:hover {
  color: red;
  background: beige;
}

a[href$=".com"] {
  color: purple;
}

  /* 출처: Youtube 드림코딩 by 엘리 */
