html,
body {
  margin: 0;
  height: 100%;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

.box {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.caption {
  font-family: "NeoDunggeunmo";
}

.cat_speech_balloon {
  display: flex;
  width: 500px;
  height: 200px;
  border: solid 2px black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.cat_speech {
  font-family: "IM_Hyemin-Bold";
  font-size: 20px;
  margin: 16px;
}

.cat_illust_normal,
.cat_illust_night,
.cat_illust_party {
  margin-top: 50px;
}

.cat_illust_party {
  width: 200px;
}

#to_cat_text {
  margin-top: 30px;
  width: 300px;
  height: 30px;
}

#to_cat_button {
  margin-top: 30px;
  padding: 30px;
  width: 300px;
  font-family: "IM_Hyemin-Bold";
  font-size: 20px;
  background-color: pink;
  border: solid 1px pink;
  border-radius: 50px;
  cursor: pointer;
}

#to_cat_button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

#to_cat_button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
}

.background_color_black {
  background-color: black;
}

.night {
  border-color: #fbf8b5;
  color: #fbf8b5;
}

.hidden {
  display: none;
}

.rainbow_background {
  background: rgb(255, 130, 130);
  background: radial-gradient(
    circle,
    rgba(255, 130, 130, 1) 0%,
    rgba(247, 235, 165, 1) 40%,
    rgba(118, 214, 205, 1) 70%,
    rgba(255, 95, 233, 1) 100%
  );
}
