/* profile */

/* profile - photo, text, info */
.profile_photo {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.profile_photo .photo {
  display: flex;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.profile_text {
  display: flex;
  flex: 0.4;
  justify-content: center;
  font-size: 13px;
  padding: 10px;
  font-family: "GowunDodum-Regular";
}

.profile_info {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  font-size: 13px;
  text-align: left;
  padding: 15px;
}

.user_info {
  border-top: solid 1px var(--color--light-dark-grey);
}

.user_name,
.user_email {
  margin: 0px;
}

.user_name {
  padding-top: 5px;
  color: var(--color--dark-blue);
  font-weight: 700;
}

.user_sex {
  color: var(--color--black-grey);
  padding-left: 5px;
}

.user_email {
  color: var(--color--orange);
  font-size: 8px;
  margin-bottom: 5px;
}

.dropdown {
  border: solid 1px;
  height: 20px;
  border-color: var(--color--grey);
}

.drop_btn {
  background-color: var(--color--white);
  padding-left: 10px;
  border: none;
}

.drop_btn > i {
  padding-left: 80px;
  color: var(--color--black-grey);
}

.dropdown:hover .dropdown_contents {
  display: block;
}

.dropdown_contents {
  display: none;
  position: absolute;
  background-color: var(--color--white);
  border: solid 1px;
  border-color: var(--color--grey);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dropdown_contents a {
  display: flex;
  width: 155px;
  padding: 5px 0px 5px 10px;
  color: var(--color--black-grey);
}

.dropdown_contents a:hover {
  background-color: var(--color--blue);
  color: var(--color--white);
}

/* minihomepi - Updated news */

.updated_news_count__container {
  display: flex;
  flex: 0.4;
}

.updated_news__area {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 0px 10px 15px;
}

.board_count__area {
  display: flex;
  flex: 1;
}

.updated_news__title {
  display: flex;
  flex: 0.1;
  font-size: 15px;
  border-bottom: solid 1px;
  border-color: var(--color--light-dark-grey);
  color: var(--color--marine-blue);
  font-weight: 700;
}

.board_title__box {
  display: flex;
  flex: 1;
}

.board_name {
  display: flex;
  justify-content: center;
  flex: 0.2;
  font-size: 13px;
}

.board_name__list {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.board_name__list li {
  margin-bottom: 3px;
  color: var(--color--white);
}

.color_red {
  background-color: var(--color--light-red);
  border: solid 1px;
  border-color: var(--color--light-red);
  border-radius: 2px;
}

.color_blue {
  background-color: var(--color--marine-blue);
  border: solid 1px;
  border-color: var(--color--marine-blue);
  border-radius: 2px;
}

.board_title {
  display: flex;
  flex: 1;
  font-size: 13px;
}

.board_title__list {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.board_title__list li {
  margin-bottom: 5px;
}

.board_count__table {
  margin: 30px 0px 10px 0px;
  width: 95%;
  height: 25%;
  border-collapse: collapse;
  text-align: start;
  font-size: 13px;
}

.board_count__table tr {
  border: dashed 0.5px var(--color--light-dark-grey);
  border-left: 0;
  border-right: 0;
}

.board_count__table td {
  padding: 5px;
}

.board_count {
  color: var(--color--dark-blue);
  font-weight: 700;
}

/* minihomepi - miniroom */

.miniroom__area {
  display: flex;
  flex: 1px;
  flex-direction: column;
  padding: 10px 15px;
}

.miniroom__title {
  display: flex;
  font-size: 15px;
  border-bottom: solid 1px;
  border-color: var(--color--light-dark-grey);
  color: var(--color--marine-blue);
  font-weight: 700;
}

.miniroom {
  display: flex;
}

.miniroom > img {
  padding-top: 3px;
  width: 100%;
  object-fit: cover;
}
