div, span {
  width: 80px;
  height: 80px;
  margin: 20px;
  background: pink;
}

div {
  background: red;
  display: inline-block;
}

span {
  background: blue;
  display: block;
}
  /* 출처: Youtube 드림코딩 by 엘리 */
